<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
    <link rel="https://fontawesome.com/">
  
    <link rel="stylesheet" href="/stylesheets/marca.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/modalFooter.css">

    <title>Login</title>
</head>

<body>
   
    <%- include('partials/header') %>
<div class="cuerpoLoginMarca">
          
    <h2>HISTORIA DE NUESTRA EMPRESA: BYFAUSTIN</h2>
        <div class="texto" >
            <p>Cumplimos 21 años desde el inicio de aquella aventura en un garaje del barrio de Saavedra, en la ciudad de Buenos Aires. Llegamos lejos, pero estamos convencidos de que lo mejor está por venir.</p>
            <br/>
            <p>Hace poco más de dos décadas, cuatro emprendedores entendimos que había una oportunidad en la región y empezamos a amasar un sueño. Y cuando hablábamos de una “oportunidad” no pensábamos en algo que iba a beneficiar a unos pocos sino en una demanda insatisfecha, en una necesidad que alguien debía primero legitimar y luego responder. Es decir, pensábamos en muchos ganadores y en oportunidades para muchísima gente.</p>
            <p>Detrás de ese objetivo, a lo largo de los años fuimos desarrollando un innovador ecosistema de soluciones integradas, asumiendo nuevos riesgos para reducir brechas y promover el desarrollo y la inclusión en la región</p>
            <br/>
        </div>
    <h2>DESDE 2015</h2>
        <div class="texto" >
        <p>Cuando arrancamos, esas unidades de negocio no eran siquiera ideas. Pero aparecieron problemas, los convertimos en desafíos y generamos soluciones. Corrimos riesgos con cada una de ellas, tuvimos aciertos y errores, aprendimos, innovamos y logramos el impacto que inauguró nuevos rumbos.</p>
    </div>
    <h2>NUESTRO ACTUAL DESAFÍO</h2>
        <div class="texto" >
        <p>Nuestra energía emprendedora nos desafía a ser protagonistas y a dar el máximo para capturar las mejores oportunidades. Estamos fuertemente comprometidos con las comunidades de los países donde operamos y queremos ser el motor de la recuperación y el crecimiento post pandemia.
        Más de dos décadas de crecimiento refuerzan nuestra confianza pero estamos convencidos de que la historia recién comienza. Lo mejor está llegando y vamos a estar ahí para crearlo.</p>
        <br/>
        </div>
    <p id="volver"><a href="/" class= "boton1">Volver a Pagina Principal</a></p>
</div>  
   
    <footer>
        <%- include('partials/footer') %>
        <script src="js/retail.js"></script>   
        <script src="js/letter.js"></script>
    </footer>
</body>

</html>