<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
    <link rel="https://fontawesome.com/">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/marca.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/modalFooter.css">

    <title>Login</title>
</head>

<body>
   
    <%- include('partials/header') %>
<div class="cuerpoLoginMarca">
   
    <h2>GARANTIA DE TUS PRODUCTOS</h2>
    
    <div class="leyConsumidor">
        <p>Los plazos previstos en las garantías contractuales y legales en los términos de la Ley Nº 24.240 y sus modificatorias
        se hallan vigentes superada la emergencia Sanitaria.- Septiembre/1993
        www.Argentina.gob.ar/ley24.240</p>
    </div>
    <br/>

    <h2>SATISFACCIÓN GARANTIZADA</h2>
    <h2 style="color:black; background-color: #15ab92;border-radius: 3px;">Es una garantía voluntaria que FAUSTIN ofrece a sus clientes y consiste en lo siguiente:</h2>
        <div class="texto">
        
            <p>1)El cambio o devolución debe solicitarse dentro de los primeros 10 días posteriores a la compra.-</p>
            <p>2)presentar la factura o remito de Despacho.-</p>
            <p>3)El producto puede estar abierto pero DEBE estar con sus embalajes originales completos y en perfectas condiciones.</p>
            <p>4)Entregar todos sus accesorios.</p>
            <p>5)Si el producto es devuelto por falla, en la tienda se realizará un chequeo que confirmará la falla del producto.</p>

        
        </div>
    <h2>PROBLEMAS CON TU ORDEN </h2>
        <div class="texto">
        
            <p>1)Si el/los productos enviados difieren de lo solicitado comunicate con <b>atencionCliente@byFaustin.com </b>.</p>
            <p>2)El producto solicitado no está disponible temporalmente por lo que hemos se cancelará tu orden, recibirás un mail de nuestro departamento ATENCION CLIENTE.</p>
            <p>3)SI tu MEDIO DE PAGO rechaza el débito tu orden será anulada y recibirás un mail con detalle.</p>
            <p>4)En caso de faltar STOCK recibirás una comunicación inmediata y podrás anular la orden .</p>
            <p>5)Si ESTÁS EN DESACUERDO con la calidad del producto comunicate urgente a atencionCliente@byFaustin.com.</p>
        
        </div>
    <h2>ENVÍOS</h2>
        <div class="texto">
        
            <p>1)Te recordamos que las fechas y horarios de entrega, se harán efectivos una vez que haya sido aprobado el proceso de validación de compra y stock. </p>
            <p>2)SI el producto NO HA PODIDO ser entregado se te brindará la opción de retirarlo en local más cercano.</p>
            <p>3)Para realizar el seguimiento ingresá a tu cuenta y seguí el proceso de entrega.</p>
        </div>

    <br/>
    <p id="volver"><a href="/" class= "boton1">Volver a Pagina Principal</a></p>
</div>  

    <footer>
        <%- include('partials/footer') %>
        <script src="/js/ayuda.js"></script>   
        <script src="js/letter.js"></script>
    </footer>
</body>

</html>