

div.cuerpoLoginMarca{
    height: fit-content;
    text-align: center;
    margin: 5rem 5rem 5rem 5rem;
    background-image: url(/images/imagenFondoLogin-01.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    color:#424242;
    font-family: "Fira Mono", monospace;
    border-radius: 1rem;
    box-shadow: #bdbdbd 0px 54px 55px, #bdbdbd 0px -12px 30px, #bdbdbd 0px 4px 6px, #bdbdbd 0px 12px 13px, #bdbdbd 0px -3px 5px;
    padding: 1rem 1rem 1rem 1rem ;
}
div .texto{
text-align: left;
}


div.cuerpoLoginMarca h2{
    color:#540b0e !important;
    font-family: "Permanent Maker" !important;
    font-style: italic;
}
.boton1{   
        background-color: #37474f;
        color:#e0e0e0;
        text-decoration: none;
        width: 8rem;
        height: auto;
        /*color: white;*/
        font-weight: strong;
        border-radius: 4px;
        margin: 10px 0px 10px 20px;   
    }
