.retail{
    text-decoration: none;
    color:#e0e0e0;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}


.modalFooter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #111111bd*/
    background-image: url(/images/distribucionImage.png);
    background-repeat: no-repeat;
    opacity: 70%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalFooter--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalFooter__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color:burlywood;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modalFooter__title{
    font-size: 2.5rem;
}

.modalFooter__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modalFooter__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalFooter__close:hover{
    color: #F26250;
    background-color: #fff;
}

/* MODAL PARA AYUDA EN footer **********/
.ayudaFooter{
    text-decoration: none;
    color:black;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}


.modalAyuda{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #111111bd*/
    background-image: url(/images/ayuda.imagen.png);
    background-repeat: no-repeat;
    opacity: 70%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalAyuda--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalAyuda__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color:black;
    color:bisque;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modalAyuda__title{
    font-size: 2.5rem;
}

.modalAyuda__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modalAyuda__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalAyuda__close:hover{
    color: #F26250;
    background-color: #fff;
}

/*************************************/
/*MODAL PARA PAGO EN CUOTAS*


