#actual{
    text-align: center;
    color:#15ab92;   
    font-size:larger;
    font-style: italic;

}
#irBaja{
    width: 18rem;
    background-color:coral;
    color:black;
    border-radius:20px;
    text-align: center;
    text-decoration: none;

}   

#noSeVe{
    display:none;
}
#user2{
    width: 10%;
}

/* ********** lo de ABAJO PERTENECE A BAJAPRODUCTO **** */

#imagenProducto{
    width: 8rem;
}
#imagenPPAL{
    width: 4rem;
}